header{
    position: sticky;
    top: 0px; /*pour que le header marche while scrolling */
    background-color:rgb(198, 67, 20);
    color: white;
    padding: 0 50px;
    display: flex;
    align-items: center;/* #align-content ?? */
    justify-content: space-between;
    box-shadow:0 10px 15px rgba(0, 0, 0, 0.6);
    height: 70px;/*La hauteur du navbar*/
}
#menu{
    display: none;
}
#navbar{
    display: flex;/* things to be in one line */
    align-items: center;/* use this property to align the items vertically*/
    justify-content: center;/* this aligns the flexible's items when the items don't 
    use all available space on the main axis(horizontally)*/
    color: white;
    
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}
#navbar li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
#navbar li a:hover{/* when we'll put the mouse on the word*/
    color: rgb(255, 234, 0);

}
#search{
    border-radius: 5px;
    width: 330px;
    height: 30px;
}
#loop{
    height: 25px;
    width: 23px;
    padding-left: 5px;
}
#search_bar{
    display: flex;
    align-items: center;
    
}
footer {
    background-color: coral;
}
#copyright{
    height: 27px;
    width: 23px;
}
#copy{ 
     /*text-align: center;
     padding-top: 5px;=>to be in center because we don't have flexible's items here*/
     /*so we can't use thes properties: justify-content: center; 
                                        align-content: center;  */
    display: flex;
    align-items: center; /*ne fonctionne pas!! */
    justify-content: center;
} 

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.main-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 20px;
}
.wrapper{
    width: 80%;
    height: 100vh;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}
.text{
    flex-basis: 45%;
    
}
.small-images{
    
    display: flex;
    justify-content: center;
    
}
.sub-small-images{

    border: 2px solid rgb(51, 49, 49);
    cursor: pointer;
    margin-left: 15px;
   
}
.Quantity{
    width: 40px;
    height: 25px;
}
.shopping{
    width: 300px;
    height: 36px;
    background-color: rgb(244, 117, 70);
    cursor: pointer;
}
.buy{
    width: 300px;
    height: 36px;
    background-color: rgb(238, 71, 11);
    cursor: pointer;
    
}
.categorie{
    opacity: 0.5;
}
.Quantity:focus{
    outline: none;
}